<!DOCTYPE html>
<html>
<head>
  <title>Subtitles Generator</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Upload Video for Subtitles</h1>
    <form action="/upload/" method="post" enctype="multipart/form-data">
      <label>Select Video:</label>
      <input type="file" name="file" required><br><br>
      
      <label>Font Size:</label>
      <input type="number" name="font_size" value="24"><br><br>
      
      <label>Font Color (Hex):</label>
      <input type="text" name="font_color" value="FFFFFF"><br><br>
      
      <button type="submit">Upload & Generate</button>
    </form>
  </div>
</body>
</html>